.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  background-color: #000;
  border-bottom: 4px solid var(--principal-color);
}

.nav-logo {
  width: 100%;
  height: 50%;
  margin: 3rem 0 0 0;
}

#menuContent {
  width: 100%;
  height: 100%;
  position: relative;
}

#menuContent li {
  display: flex;
  background-color: var(--black);
  color: var(--principal-color);
  font-family: "Roboto", sans-serif;
  width: 100%;
  justify-content: center;
  font-size: 3rem;
  cursor: pointer;
  list-style: none;
  transition: 0.3s ease;
}

#menuContent.active {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  border: none;
  outline: none;
  width: 100%;
  height: 60vh;
  gap: 2rem;
  text-transform: uppercase;
  justify-content: center;
}

#menuContent.remove {
  display: none;
}

.active {
  display: flex;
  width: 100%;
  height: 50rem;
  transition: 0.3s ease-in;
}

.remove {
  display: none;
}

#menuTopics:hover {
  color: var(--white);
}

#hamburgerMenu {
  margin: 3rem 0 0 0;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 840px) {
  #menuContent {
    display: none;
  }
}

@media (min-width: 1080px) {

  .nav{ 
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
  }

  .nav-logo {
    width: 10%;
    padding: 0;
  }

  #hamburgerMenu {
    display: none;
  }

  #menuContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 10vh;
    margin: 2rem;
  }
  
  #menuContent li {
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
    color: #999;
  }

  #menuContent li:hover {
    color: var(--principal-color);
  }
}
